.viewport{min-width:1200px}
.wrapper{max-width:1200px;margin:0 auto}
.header{position:relative;height:70px;border-bottom:1px solid #000;background-color:#4c4c4c;z-index:10}
.header .wrapper{height:100%}
.header .menu-toggle{display:none}
.header .logo{float:left;width:260px;height:0;margin-top:10px;padding-top:50px;overflow:hidden;background:url("../img/logo.png") no-repeat}
.header .nav{float:right;height:100%;font-size:18px;line-height:70px;text-align:center}
.header .nav a{display:block;color:#fff;border-left:1px solid transparent;border-right:1px solid transparent}
.header .nav li:hover>a,.header .nav li.current>a,.header .nav li.active>a,.header .nav a:hover{background-color:#303030;border-color:#656565}
.header .nav .sub{display:none;font-size:14px;background-color:#4c4c4c}
.header .nav .sub li{border-top:1px solid #656565}
.header .nav>li{float:left;width:110px}
.header .nav>li:hover .sub{display:block}
.footer{padding:20px 0;text-align:center;font-size:12px;color:#fff;background-color:#4c4c4c}
.play,.developing{position:absolute;left:0;top:0;width:100%;height:100%;text-align:left;border-radius:10px}
.developing{text-indent:-100%;overflow:hidden;background:url("../img/developing.png") rgba(0,0,0,.5) center center no-repeat}
.play:hover{cursor:pointer;background:url("../img/ico-play.png") rgba(0,0,0,.1) center center no-repeat}
.play:hover video{width:100%;height:100%}
.play:hover.playing{cursor:default;background:0 0}












.body{position:relative;height:860px;background:url("../img/index/bg.jpg") center center no-repeat}
.body .slogan{position:absolute;left:50%;top:30px;width:430px;height:0;padding-top:130px;overflow:hidden;margin-left:-215px;background-repeat: no-repeat;}
.body .menu{position:absolute;left:50%;top:50%}
.body .menu a{display:block;width:154px;height:0;padding-top:76px;overflow:hidden}
.body .menu a:hover{width:310px;padding-top:153px}
.body .mdata{position:absolute;margin:-197px 0 0 -346px;background-repeat: no-repeat;}
.body .mdata:hover{margin:-236px 0 0 -424px;background-repeat: no-repeat;}
.body .mreal{position:absolute;margin:-140px 0 0 220px;background-repeat: no-repeat;}
.body .mreal:hover{margin:-179px 0 0 142px;background-repeat: no-repeat;}
.body .mread{position:absolute;margin:120px 0 0 -450px;background-repeat: no-repeat;}
.body .mread:hover{margin:81px 0 0 -528px;background-repeat: no-repeat;}
.body .mserv{position:absolute;margin:120px 0 0 305px;background-repeat: no-repeat;}
.body .mserv:hover{margin:81px 0 0 227px;background-repeat: no-repeat;}
.body .matrix{position:absolute;margin:350px 0 0 75px;background-repeat: no-repeat;}
.body .matrix:hover{margin:311px 0 0 -3px;background-repeat: no-repeat;}
.body .slogan{background-position:0px 0px }.body .mdata{background-position:-276px -150px }.body .mdata:hover{background-position:-120px -246px }.body .mreal{background-position:-276px -419px }.body .mreal:hover{background-position:-120px -515px }.body .mread{background-position:-276px -688px }.body .mread:hover{background-position:-120px -784px }.body .mserv{background-position:-276px -957px }.body .mserv:hover{background-position:-120px -1053px }.body .matrix{background-position:-276px -1226px }.body .matrix:hover{background-position:-120px -1322px }.body .slogan,.body .mdata,.body .mdata:hover,.body .mreal,.body .mreal:hover,.body .mread,.body .mread:hover,.body .mserv,.body .mserv:hover,.body .matrix,.body .matrix:hover{background-image: url(../img/pkg/index_z.png)}@media  screen and (max-width:750px){body{-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;-webkit-backface-visibility:hidden;backface-visibility:hidden}
body.menu-open{-webkit-transform:translateX(-7rem);-ms-transform:translateX(-7rem);transform:translateX(-7rem)}
.viewport{min-width:inherit}
.wrapper{max-width:inherit}
.body{width:100%;overflow:hidden}
.header{position:static;height:1.76rem;border-bottom:0;background-color:transparent}
.header .wrapper{position:fixed;left:0;top:0;width:100%;height:1.76rem;padding-top:.4rem;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#4c4c4c;z-index:1000}
.header .logo{float:none;width:5.8rem;height:0;padding-top:1rem;overflow:hidden;margin:0 auto;background-repeat: no-repeat;}
.header .menu-toggle{display:block;position:absolute;right:.2rem;top:.3rem}
.header .ico-menu{display:inline-block;vertical-align:top;width:1.1rem;height:1.1rem;background-repeat: no-repeat;}
.header .nav{float:none;position:fixed;left:100%;top:0;width:7rem;height:100%;text-align:left;font-size:1.417em;line-height:1.76rem;-webkit-box-sizing:border-box;box-sizing:border-box;background:url("../mobile/img/nav-bg.png") #4c4c4c repeat-y;-webkit-background-size:7rem auto;background-size:7rem auto}
.header .nav>li{float:none;width:auto}
.header .nav>li.current{background-color:#303030}
.header .nav>li.current .sub{display:block!important}
.header .nav>li:hover .sub{display:none}
.header .nav a{border:0;padding-left:1.4rem}
.header .nav .sub{font-size:.882em;background-color:transparent}
.header .nav .sub li{border:0}
.header .nav li.active>a{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNpi/P//PwMtARMDjcGgt4AfiJfiVQGKAzKxLRA/+A8BONWRYzArELcC8Z//CEA1C9SA+NR/TEAVC1KB+Mt/7IAiC0SAeP1//IBsC9yA+Nl/woBkCziAuB+I//0nDpBswdL/pIHB5wOaxwHdUhFd8gHdcjJdyiK6lKbImB+aZ3CqYRytkwfcAoAAAwAYyudfMefhKgAAAABJRU5ErkJggg==") #7e7e7e .6rem center no-repeat;-webkit-background-size:.48rem .48rem;background-size:.48rem .48rem}
.footer{font-size:.857em}
.play,.developing{border-radius:.2rem}
.developing{-webkit-background-size:11.14rem 7.4rem;background-size:11.14rem 7.4rem}
.play:hover{background:url("../img/ico-play.png") rgba(0,0,0,.1) center center no-repeat;-webkit-background-size:1.96rem 1.96rem;background-size:1.96rem 1.96rem}.body{height:24.16rem;background:url("../mobile/img/index/bg.jpg") no-repeat;-webkit-background-size:contain;background-size:contain}
.body .slogan{top:1.2rem;width:12.8rem;padding-top:3rem;margin-left:-6.4rem;background-repeat: no-repeat;}
.body .menu a{width:4.4rem;padding-top:2.2rem}
.body .menu a:hover{width:4.4rem;padding-top:2.2rem}
.body .mdata{position:absolute;margin:-4.12rem 0 0 -5.2rem;background-repeat: no-repeat;}
.body .mdata:hover{margin:-4.12rem 0 0 -5.2rem;background-repeat: no-repeat;}
.body .mdata:active{opacity:.8}
.body .mreal{position:absolute;margin:-1.3rem 0 0 1.3rem;background-repeat: no-repeat;}
.body .mreal:hover{margin:-1.3rem 0 0 1.3rem;background-repeat: no-repeat;}
.body .mreal:active{opacity:.8}
.body .mread{position:absolute;margin:1.8rem 0 0 -6.7rem;background-repeat: no-repeat;}
.body .mread:hover{margin:1.8rem 0 0 -6.7rem;background-repeat: no-repeat;}
.body .mread:active{opacity:.8}
.body .mserv{position:absolute;margin:3rem 0 0 2.4rem;background-repeat: no-repeat;}
.body .mserv:hover{margin:3rem 0 0 2.4rem;background-repeat: no-repeat;}
.body .mserv:active{opacity:.8}
.body .matrix{position:absolute;margin:7.2rem 0 0 .2rem;background-repeat: no-repeat;}
.body .matrix:hover{margin:7.2rem 0 0 .2rem;background-repeat: no-repeat;}
.body .matrix:active{opacity:.8}.header .logo{background-position:-7rem 0rem}.header .ico-menu{background-position:-11.7rem -1.4rem}.body .slogan{background-position:0rem -2.9rem}.body .mdata{background-position:-8.4rem -6.3rem}.body .mdata:hover{background-position:-8.4rem -6.3rem}.body .mreal{background-position:-8.4rem -8.9rem}.body .mreal:hover{background-position:-8.4rem -8.9rem}.body .mread{background-position:-8.4rem -11.5rem}.body .mread:hover{background-position:-8.4rem -11.5rem}.body .mserv{background-position:-8.4rem -14.1rem}.body .mserv:hover{background-position:-8.4rem -14.1rem}.body .matrix{background-position:-8.4rem -16.7rem}.body .matrix:hover{background-position:-8.4rem -16.7rem}.header .logo,.header .ico-menu,.body .slogan,.body .mdata,.body .mdata:hover,.body .mreal,.body .mreal:hover,.body .mread,.body .mread:hover,.body .mserv,.body .mserv:hover,.body .matrix,.body .matrix:hover{background-size: 12.8rem 18.9rem;background-image: url(../img/pkg/index_mobile_1_1_z.png)}}@media  screen and (min-width:320px) and (max-width:750px){html{font-size:21.33px}
body{font-size:12px}}@media  screen and (min-width:360px) and (max-width:750px){html{font-size:24px}
body{font-size:12px}}@media  screen and (min-width:375px) and (max-width:750px){html{font-size:25px}
body{font-size:13px}}@media  screen and (min-width:384px) and (max-width:750px){html{font-size:25.6px}
body{font-size:14px}}@media  screen and (min-width:400px) and (max-width:750px){html{font-size:26.67px}
body{font-size:14px}}@media  screen and (min-width:414px) and (max-width:750px){html{font-size:27.6px}
body{font-size:14px}}@media  screen and (min-width:424px) and (max-width:750px){html{font-size:28.27px}
body{font-size:14px}}@media  screen and (min-width:480px) and (max-width:750px){html{font-size:32px}
body{font-size:15.36px}}@media  screen and (min-width:540px) and (max-width:750px){html{font-size:36px}
body{font-size:17.28px}}@media  screen and (min-width:720px) and (max-width:750px){html{font-size:48px}
body{font-size:23.04px}}@media  screen and (min-width:750px) and (max-width:750px){html{font-size:50px}
body{font-size:24px}}