<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -案例库</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2212";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="zhuan_jia_jiang_zuo.html">专家讲座</a></li>
		
			<li><a href="an_li_ku.html">案例库</a></li>
		
			<li><a href="shen_ru_xue_xi.html">深入学习</a></li>
		
			<li><a href="ke_cheng_ci_dian.html">课程词典</a></li>
		
			<li><a href="can_kao_zi_liao.html">参考资料</a></li>
		
	</ul>
	<div class="ke-contentan_li_ku">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			案例库
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				案例分析没录
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					正文介绍...
				</p>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<img class="ke-bw-video" src="common_files/images/blank.gif" title="" data-bw-attr="%7B%22width%22%3A%22%22%2C%22height%22%3A%22%22%2C%22subtit%22%3A%22%22%2C%22videoName%22%3A%22test%22%7D" height="110" width="110" /> 
				</p>
			</div>
		</div>
	</div>
</div>
		<script>
			var node = bw.getNodes()[0];
			var url = new Url();
			var videoName = url.get('name');
			if(!videoName){
				url.set('name',node[0][1].video.videoName);
				url.go();
			}
		</script>
		<script id="js_tpl_1" type="text/html">
			<div class="study_box lecture_video">
				<h1>案例库</h1>
				<div class="video_name">
					<span class="number_cir">1</span>
					<span class="name_en">atomic line spectra</span>
					<!--span class="name_zh">原子谱线</span>-->
				</div>
				<div class="videoBox">
					<div class="video_area expert_video responsive_video">
						<div class="bw_video_player" style="width: 665px;height: 480px;" data-player-id="player1" data-video-name="<%= videoName %>"></div>
						<img src="<%= bw.getVideoImg(videoName) %>">
						<i class="playbtn"></i>
					</div>
					
					<div class="sidelist responsive_videolist">
						<ol class="menu">
							<% for (var i = 0; i< node.length; i++) {%>
								<li data-video-name="<%= node[i][1].video.videoName %>" data-video="<%= node[i][1].video.url() %>">
									<a href="#">
										<span class="m_num"><%= i+1 %></span>
										<span class="m_name">
											<div class="en"><%= node[i].text %></div>
											<!-- <div class="zh"><%= node[i][0] %></div> -->
										</span>
									</a>
								</li>
							<% } %>
						</ol>
					</div>
				</div>
			</div>
		</script><script>document.write(template.render('js_tpl_1'));</script>
	</div>
		
</div>

<script>
	$("li[data-video-name="+ videoName +"]").addClass("cur");
	$(".sidelist").find("li[data-video-name]").each(function(){
		var videoname = $(this).attr("data-video-name");
		var url2 = window.location.toString().replace(/\?.*$/,'').replace(/\#.*$/,'');
		url2 = url2 + '?name=' + videoname;
		$(this).find("a").attr("href",url2);
	});
	
</script>

	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
	
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>