<!DOCTYPE HTML>
<html>

	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

		<!-- header includes -->

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>网络综合设计实验 -教师导言</title>
		<!-- <base href=""/> -->
		<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/home.css" rel="stylesheet" type="text/css" />
		<link href="css/course.css" rel="stylesheet" type="text/css" />

		<script>
			var video_root = "video/",
				columnid = "2205";
		</script>
		<script src="common_files/js/jquery-1.9.1.min.js"></script>
		<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
		<script src="common_files/js/json.js"></script>
		<script src="common_files/js/common.js"></script>
		<script src="js/course.js"></script>
		<script src="common_files/js/bw_data.js"></script>
		<script src="common_files/js/template.js"></script>
		<script src="common_files/js/pinyin.js"></script>

		<!-- Add fancyBox -->
		<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

		<!-- Optionally add helpers - button, thumbnail and/or media -->
		<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

		<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	</head>

	<body class="introduction-bg ">

		<!-- 通用头部 -->
		<div class="header header_in">
			<div class="header_scope">
				<div class="logo"></div>
				<div class="more"></div>
				<div class="nav_container">

					<!-- 通用头部 -->

					<ul class="nav">
						<li id="nav_0"><a href="/">返回主页</a></li>
						<li id="nav0">
							<a href="index.html">课程首页</a>
						</li>

						<li id="nav0">
							<a href="ke_cheng_jie_shao.html">课程信息</a>
						</li>

						<li id="nav1">
							<a href="jiao_shi_dao_yan.html">课程导学</a>
						</li>

						<li id="nav2">
							<a href="chapter_1_1.html">课程学习</a>
						</li>

						<li id="nav3">
							<a href="test_a.html">课程自测</a>
						</li>

						<!--<li id="nav4">
							<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
						</li>-->

					</ul>

				</div>
			</div>
		</div>

		<div class="content">
			<div class="scope">
				<ul class="secBarTab">

					<li>
						<a href="jiao_shi_dao_yan.html">教师导言</a>
					</li>

					<li>
						<a href="jiao_xue_ri_li.html">教学日历</a>
					</li>

					<li>
						<a href="ping_jia_fang_an.html">评价方案</a>
					</li>

					<li>
						<a href="kao_shi_da_gang.html">考试大纲</a>
					</li>

				</ul>
				<div class="s_topbox">
					<img src="images/daoxue.png">
					<div class="title">
						<h1>课程导学</h1>
						<span class="ti_shadow"></span>
					</div>
				</div>
				<div class="ke-content jiao_shi_dao_yan">
					<div class="bw_node_wrap">
						<div class="bw_node">
							<p>
								教师导言
							</p>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									导言视频
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<p>
										<img class="ke-bw-video" src="common_files/images/blank.gif" title="" data-bw-attr="%7B%22width%22%3A%22300%22%2C%22height%22%3A%22110%22%2C%22subtit%22%3A%22%22%2C%22videoName%22%3A%22learning%22%7D" height="110" width="300" />
									</p>
								</div>
							</div>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									课程简介
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<div>
										<p>
											网络综合设计实验是一门以网络传播全学科知识为基础，学生动手实践为手段的实验教学课程。
										</p>
									</div>
									<div>
										<p>
											通过本课程实验学习，以网站功能设计为主干，整合传播学专业各门专业课程，使学生具有接轨市场、接轨专业实践的网络需求分析、网站定位、网站架构设计、网站具体功能规划、网站原型设计实现的能力；并在实验过程中培养学生的互联网实践意识与专业精神。
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									课程学习目的
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<p>
										课程为加深对前期学习的本学科理论和实践知识的理解，在掌握网络传播理论知识的基础加深网站规划、网站定位及软硬件平台的选型的认识，以锻炼学生实际开发能力为主要目的。
									</p>
									<div>
										<p>
											•通过课程设计相关学习，要求学生掌握网站开发的基本概念，基本设计方法和基本设计技术，能自行规划、设计和维护网站。最终达到能够独立组织完成新闻、政务、商务等类型网站的开发工作，并能书写相关文档。
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									课程主要内容
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<p>
										网站需求分析，确定网站定位——在对所设计网站进行文献调查基础上，采用实证研究方法，调查研究所设计网站潜在用户的需求情况；在此基础上确定网站定位。
									</p>
									<div>
										<p>
											网站信息架构设计——根据网站定位，进行信息架构规划设计，明确网站信息体系。
										</p>
									</div>
									<div>
										<p>
											网站功能规划——在信息架构设计的基础上，将用户需求与信息架构相结合，进行具体功能设计与规划。
										</p>
									</div>
									<div>
										<p>
											网站原型设计——在信息架构和功能规划的基础上，找到信息、功能与需求的结合点，完成网站原型设计。
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									学习方法
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<div>
										<p>
											•本课程采取老师实验指导为辅，学生实验作业为主的学习方式，课时比为1：7，即每次指导1课时，学生实验7课时。
										</p>
									</div>
									<div>
										<p>
											•授课教师根据实验内容进行四个模块的实验指导说明，学生根据各个模块进行户外及上机实验，并整合四次实验成果为课程实验报告。
										</p>
									</div>
									<div>
										<p>
											•课程后期可以由教师组织学生对实验报告进行互动交流。
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="bw_node_wrap">
							<div class="bw_node">
								<p>
									考核说明
								</p>
							</div>
							<div class="bw_node_wrap">
								<div class="bw_node">
									<div>
										<p>
											•考核方式：根据学生完成实验报告的内容和质量进行评分。
										</p>
									</div>
									<div>
										<p>
											•成绩评定：百分制。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script>
						var node = bw.getNodes()[0];
					</script>
					<script id="js_tpl_1" type="text/html">
						<!--<div class="video_area">
							<div data-video-name="<%= node[0][0].video.videoName %>" data-player-id="daoyan" style="width: 935px;height: 586px;" class="bw_video_player"></div>
							<img src="<%= bw.getVideoImg(" learning ") %>">
							<i class="playbtn"></i>
						</div>-->

						<div class="data_bg">
							<% for (var i = 1; i< node.length; i++) {%>
							<h2><%= node[i].text %></h2>
							<p>
								<%= node[i][0] %>
							</p>
							<% } %>
							<!-- <div class="data_tag">
							<% for (var i = 1; i< node.length; i++) {%>
								<span <% if( i == 1) { %>class="data_span_top"<% } %> ><%= node[i].text %></span>
							<% } %>
						</div>
						<% for (var i = 1; i< node.length; i++) {%>
							<div class="data" <% if( i != 1) { %>style="display: none;"<% } %>>
							
								<p><%= node[i][0] %></p>
							
							</div>
						<% } %> -->
						</div>
					</script>
					<script>
						document.write(template.render('js_tpl_1'));
					</script>
				</div>
				<script type="text/javascript">
					/*$(function(){
															$(".data_tag").find("span").click(function(){
																var Num = $(this).index();
																var Nsize = $(".data_tag span").size();
																var Nindex = Nsize - 1;
																$(".data").hide();
																$(".data_bg").find(".data").eq(Num).show();	
																$(".data_tag").find("span").removeClass("data_span data_span_top data_span_bottom");
																if(Num == 0){
																	$(this).addClass("data_span_top");
																}else if(Num == Nindex){
																	$(this).addClass("data_span_bottom");
																}else{
																	$(this).addClass("data_span");
																}						
															})
														})*/
				</script>
			</div>
		</div>

		<!-- 页脚内容 -->
		<div class="footer">
			<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
		</div>
		<div class="tool">
			<ul class="toolpack">
				<li>
					<a href="###">信息反馈</a>
				</li>
				<li>
					<a href="dictionary.html">课程词典</a>
				</li>
				<li>
					<a href="###">课程笔记</a>
				</li>
				<li>
					<a href="###">课程书签</a>
				</li>
			</ul>
		</div>
		<a href="#" class="top">TOP</a>
	</body>

</html>