<!DOCTYPE HTML>
<html>
<head>
	<!--TPL[]-->
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -教学大纲</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2201";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">
			<ul class="secBarTab">
				

					<li><a href="ke_cheng_jie_shao.html">课程介绍</a></li>
				
					<li><a href="jiao_xue_da_gang.html">教学大纲</a></li>
				
					<li><a href="ke_cheng_te_se.html">课程特色</a></li>
				
					<!--<li><a href="jiao_shi_jie_shao.html">教师介绍</a></li>-->
				
			</ul>
			<div class="ke-content jiao_xue_da_gang">
				<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			教学大纲
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				课程名称
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					网站综合设计实验
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				学时与学分
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					课堂讲授与课程实验32课时
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				先修课程
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					网络技术基础、网络传播学、传播研究方法，网络传播功能设计
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				课程教学目标
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					1、 学习有关网站设计的思维与理论
				</p>
				<p>
					2、 知晓网络站点开发建设的流程
				</p>
				<p>
					3、 掌握网络站点开发的基本方法，能够进行团队合作完整全流程的网站综合开发工作。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				适用学科专业
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					网络与新媒体、传播学、广告学、软件工程等
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				&nbsp;基本教学内容与学时安排
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<table border="1" bordercolor="#000000" cellpadding="2" cellspacing="0" height="197" width="916">
						<tbody>
							<tr>
								<td>
									章节<br />
								</td>
								<td>
									学习内容<br />
								</td>
								<td>
									学时安排<br />
								</td>
							</tr>
							<tr>
								<td>
									网站需求分析<br />
								</td>
								<td>
									在对所设计网站进行文献调查基础上，采用实证研究方法，调查研究所设计网站潜在用户的需求情况；在此基础上确定网站定位。<br />
								</td>
								<td>
									1个授课学时加七个实验学时<br />
								</td>
							</tr>
							<tr>
								<td>
									网站信息架构设计<br />
								</td>
								<td>
									根据网站定位，进行信息架构规划设计，明确网站信息体系。<br />
								</td>
								<td>
									1个授课学时加七个实验学时<br />
								</td>
							</tr>
							<tr>
								<td>
									网站功能规划<br />
								</td>
								<td>
									在信息架构设计的基础上，将用户需求与信息架构相结合，进行具体功能设计与规划。<br />
								</td>
								<td>
									1个授课学时加七个实验学时<br />
								</td>
							</tr>
							<tr>
								<td>
									网站原型设计<br />
								</td>
								<td>
									在信息架构和功能规划的基础上，找到信息、功能与需求的结合点，完成网站原型设计。<br />
								</td>
								<td>
									1个授课学时加七个实验学时<br />
								</td>
							</tr>
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				&nbsp; 参考书目
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					罗旭祥　著《精益求精--卓越的互联网产品设计与管理》&nbsp; 机械工业出版社&nbsp; 2010年9月第一版
				</p>
				<p>
					[美]Robert Hoekman,
Jr.Jared Spool著，向怡宁 译《网站设计解构：有效的交互设计框架和模式》，人民邮电出版社，2010年8月第一版
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				&nbsp;考核方式
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					以三~四人组成实验小组进行全课程跟踪实验，以最后的设计作品报告作为考核内容
				</p>
			</div>
		</div>
	</div>
</div>
				<script>
					var node = bw.getNodes()[0];
				</script>
				<script id="js_tpl_1" type="text/html">	
					<div class="s_box">
						<div class="s_topbox">
							<img src="images/sy_toppic.png">
							<div class="title">
								<h1><%= node.text %></h1>
								<span class="ti_shadow"></span>
							</div>
						</div>
						<div class="s_bottom_box">
							<div class="s_leftbox">
								<div class="innerbox">
									<div class="s_leftbox1">
										<% for (var i = 0; i< node.length; i++) {%>
											<div class="sectitle">
												<h2><%= node[i].text %></h2>
											</div>
											<p><%= node[i][0] %></p>
										<% } %>
											
									</div>
								</div>
							</div>
							<div class="s_rightbox">
								<div class="innerbox s_inner">
									<div class="sectitle">
										<h2>课程的教学内容体系及学时分配</h2>
									</div>
									<p>本课程理论教学总学时为54学时，共包括11章基本化学原理的学习内容和3章元素化学的自学内容。分章节学时分配如下：</p>
																		



										<div class="chapterbox">
											<span>第一章　网站需求分析</span>

											<ul>
												

													<li>
														<a href="chapter_1_1.html">学习指导</a>
													</li>
												
													<li>
														<a href="chapter_1_2.html">第一节 网络综合设计的阶段性划分</a>
													</li>
												
													<li>
														<a href="chapter_1_3.html">第二节 网站需求分析的一般性内容</a>
													</li>
												
													<li>
														<a href="chapter_1_4.html">第三节 网站需求分析的方法</a>
													</li>
												
											</ul>
										</div>

									
										<div class="chapterbox">
											<span>第二章 网站信息架构设计</span>

											<ul>
												

													<li>
														<a href="chapter_2_1.html">学习指导</a>
													</li>
												
													<li>
														<a href="chapter_2_2.html">第一节 信息架构概述</a>
													</li>
												
													<li>
														<a href="chapter_2_3.html">第二节 为什么要用信息架构</a>
													</li>
												
													<li>
														<a href="chapter_2_4.html">第三节 信息架构基础</a>
													</li>
												
													<li>
														<a href="chapter_2_5.html">第四节 信息架构体系</a>
													</li>
												
											</ul>
										</div>

									
										<div class="chapterbox">
											<span>第三章 网站功能规划</span>

											<ul>
												

													<li>
														<a href="chapter_3_1.html">学习指导</a>
													</li>
												
													<li>
														<a href="chapter_3_2.html">第一节 功能规划要点</a>
													</li>
												
													<li>
														<a href="chapter_3_3.html">第二节 功能描述方法——use case</a>
													</li>
												
											</ul>
										</div>

									
										<div class="chapterbox">
											<span>第四章 网站原型设计</span>

											<ul>
												

													<li>
														<a href="chapter_4_1.html">学习指导</a>
													</li>
												
													<li>
														<a href="chapter_4_2.html">第一节 交互设计</a>
													</li>
												
													<li>
														<a href="chapter_4_3.html">第二节 原型设计工具——AXURE</a>
													</li>
												
													<li>
														<a href="chapter_4_4.html">第三节 视觉设计</a>
													</li>
												
											</ul>
										</div>

									
								</div>
							</div>
						</div>
					</div>
				</script><script>document.write(template.render('js_tpl_1'));</script>
			</div>
			
	
		
		</div>
	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>







