<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -教学日历</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2206";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="jiao_shi_dao_yan.html">教师导言</a></li>
		
			<li><a href="jiao_xue_ri_li.html">教学日历</a></li>
		
			<li><a href="ping_jia_fang_an.html">评价方案</a></li>
		
			<li><a href="kao_shi_da_gang.html">考试大纲</a></li>
		
	</ul>
	<div class="ke-content jiao_xue_ri_li">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			教学日历
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				第1周
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<strong>教学内容</strong> 
				</p>
				<p>
					1. 网站需求分析
				</p>
				<p>
					2.确定网站定位
				</p>
				<p>
					<strong>课内学时</strong> 
				</p>
				<p>
					8
				</p>
				<p>
					<strong>课外学时</strong> 
				</p>
				<p>
					16
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				第2周
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<strong>教学内容</strong> 
				</p>
				<p>
					网站信息架构设计
				</p>
				<p>
					<strong>课内学时</strong> 
				</p>
				<p>
					8
				</p>
				<p>
					<strong>课外学时</strong> 
				</p>
				<p>
					8
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				第3周
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<strong>教学内容</strong> 
				</p>
				<div>
					<div>
						<p>
							1. 网站功能规划
						</p>
						<p>
							2.功能用例设计
						</p>
						<p>
							<strong>课内学时</strong> 
						</p>
						<p>
							8
						</p>
						<p>
							<strong>课外学时</strong> 
						</p>
						<p>
							16
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				第4周
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<div>
					<div>
						<p>
							<strong>教学内容</strong>
						</p>
						<div>
							<div>
								<p>
									1.网站原型设计
								</p>
								<p>
									2.网站交互实现
								</p>
								<p>
									<strong>课内学时</strong>
								</p>
								<p>
									8
								</p>
								<p>
									<strong>课外学时</strong>
								</p>
								<p>
									16
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<script>
			var node = bw.getNodes()[0];
		</script>
		<script id="js_tpl_1" type="text/html">
			<div class="ca_box">
		 		<div class="inner">
			 		<ul>
			 			<% for (var i = 0; i< node.length; i++) {%>
				 			<li class="c_fi">
				 				<p>第<span class="week_num"><%= i+1 %></span>周</p>
				 				<div class="ca_content">
				 					<%= node[i][0] %>
				 				</div>
				 				<!-- 
				 				<p>第<span class="week_num">1</span>周</p>
				 				<ul>
				 					<li><b>第一章 绪论<span class="time">（1学时）</span></b></li>
				 					<li class="line"></li>
				 					<li><b>第二章 溶液<span class="time">（2学时）</span></b></li>
				 					<li><span class="important">重点学习</span>
				 						<ul>
				 							<li>第一节 溶液的浓度</li>
				 							<li>第二节 稀溶液的依数性（掌握溶液的蒸气压下降-拉乌尔定律和沸点升高定量关系）</li>
				 						</ul>	 						
				 					</li>
				 				</ul> 
				 				-->
				 			</li>
				 		<% } %>
			 		</ul>
			 	</div>
			 	<!-- <div class="circle">1</div> -->
			 </div>
		</script><script>document.write(template.render('js_tpl_1'));</script>
	</div>
 	
</div>
	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>