<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -教师介绍</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2203";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="ke_cheng_jie_shao.html">课程介绍</a></li>
		
			<li><a href="jiao_xue_da_gang.html">教学大纲</a></li>
		
			<li><a href="ke_cheng_te_se.html">课程特色</a></li>
		
			<li><a href="jiao_shi_jie_shao.html">教师介绍</a></li>
		
	</ul>
	<div class="ke-content jiao_shi_jie_shao">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			鲍立泉
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				基本信息
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					性别：男
				</p>
				<p>
					单位：福建省星网锐捷网络有限公司
				</p>
				<p>
					职称：锐捷网络资深讲师、高级工程师
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				照片
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<img src="upload_files/2203/baseimg_474.png" /> 
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				教师简介
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					锐捷网络资深讲师
				</p>
				<p>
					六年网络工程经验，曾担任河南某系统集成商技术部经理，锐捷网络高级网络工程师；
				</p>
				<div>
					<div>
						<p>
							网络工程师；具有丰富的网络工程项目和团队管理经验；
						</p>
						<p>
							精通路由、交换、安全、无线等主流网络技术，具备CCIE的技术能力；
						</p>
						<p>
                        精通招投标、项目管理、项目实施流程，独立负责过百万级以上的教育、金融、医疗、政府网络类型的项目数十个；
						</p>
						<p>
							多数为教育行业老师做过定制化的网络培训，讲课生动，富有激情，善于举例，透彻详细，德才兼备。
				
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<script>
			var nodes = bw.getNodes();
		</script>	
		<script id="js_tpl_1" type="text/html">
			<div class="t_box">
				<div class="t_leftbox">
					<div class="inner">
						<div class="t_lefttopbox">
							<% for (var i = 0; i< nodes.length; i++) {%>
								<div class="tab">								
									<img src="<%= nodes[i][1][0].img %>">
								</div>
							<% } %>	
						</div>
						<div class="t_leftmiddlebox">
							<div class="topshadow">
								<span class="shadow_topleft"></span>
								<span class="shadow_topright"></span>
							</div>
							<div class="name_tab">
								<span class="prev"></span>
								<div class="t_name">
									<ul>
										<% for (var i = 0; i< nodes.length; i++) {%>
											<li><%= nodes[i].text %></li>
										<% } %>
									</ul>
								</div>
								<span class="next"></span>
							</div>
						</div>
						<div class="t_leftbottombox">
							<% for (var i = 0; i< nodes.length; i++) {%>
								<div class="tab"><%= nodes[i][0][0] %></div>
							<% } %>
						</div>
					</div>
				</div>
				<div class="t_rightbox">
					<% for (var i = 0; i< nodes.length; i++) {%>


						<div class="tab" <% if( i != 0) { %>style="display: none"<% } %> >

							<!-- <ul class="teach_li_tab clearfix">
								<% for (var j = 2; j< nodes[i].length; j++) {%>
									<li <% if( j == 2) { %>class="cur"<% } %> ><%= nodes[i][j].text %></li>
								<% } %>
							</ul> -->

							<% for (var j = 2; j< nodes[i].length; j++) {%>
								<h2><%= nodes[i][j].text %></h2>
								<div class="teach_li_tab_content"><%= nodes[i][j][0] %></div>
							<% } %>
						</div>
						
					<% } %>
					
						
					
				</div>
			</div>	
		</script><script>document.write(template.render('js_tpl_1'));</script>
	</div>
	
</div>
	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>