<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -课程词典</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2214";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	<script src="js/pinyin.js"></script>
</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="zhuan_jia_jiang_zuo.html">专家讲座</a></li>
		
			<li><a href="an_li_ku.html">案例库</a></li>
		
			<li><a href="shen_ru_xue_xi.html">深入学习</a></li>
		
			<li><a href="ke_cheng_ci_dian.html">课程词典</a></li>
		
			<li><a href="can_kao_zi_liao.html">参考资料</a></li>
		
	</ul>
	<div class="ke-contentke_cheng_ci_dian">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			课程词典
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				Axure
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是美国Axure Software Solution公司旗舰产品，是一个专业的快速原型
			件或Web网站的线框图、流程图、原型和规格说明文档。作为专业的原型设计工具，它能快速、高效的创建原型，同时支持多人协作设计和版本控制管理。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				标记系统
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是 Emil Leon Post 在1943年创立的确定性计算模型，作为一种简单形式的字符串重写系统。标记系统也可以看作抽象机，叫做 Post 标记机（不要混淆于Post-图灵机）——简单的说，其唯一的磁带是无限长度的FIFO队列的有限状态自动机，在每次状态转变中机器读在队列头部的符号，从头部删除固定数目的符号，并可以向尾部增加符号。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				超文本（HyperText）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是用超链接的方法，将各种不同空间的文字信息组织在一起的网状文本。超文本更是一种用户介面范式，用以显示文本及与文本之间相关的内容。现时超文本普遍以电子文档方式存在，其中的文字包含有可以链结到其他位置或者文档的连结，允许从当前阅读位置直接切换到超文本连结所指向的位置。超文本的格式有很多，目前最常使用的是超文本标记语言（标准通用标记语言下的一个应用）及富文本格式。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				查全率（recall ratio）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指衡量某一检索系统从文献集合中检出相关文献成功度的一项指标，即检出的相关文献与全部相关文献的百分比。查全率=（检索出来的相关文件/集合中的所有文件）x100%。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				查准率（Precision ratio）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指衡量某一检索系统的信号噪声比的一种指标，即检出的相关文献与检出的全部文献的百分比。普遍表示为
查准率=（检索出的相关信息量/检索出的信息总量）x100%。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				产品经理（Product Manager）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					又称品牌经理（Brand Manager）。是企业守门员、品牌塑造者、更是营销骨干。举凡产品从创意到上市，所有相关的研发、调研、生产、编预算、广告、促销活动等等，都由产品经理掌控。产品经理依据公司产品战略，对某个（线）产品（介质、服务、品牌）担负根本责任的企业管理人员。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				定位
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指确定某一事物在一定环境中的位置，如产品在市场中定位、人物在组织中的定位、物品在某一地理位置的定位等。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				迭代（iteration）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指重复反馈过程的活动，其目的通常是为了逼近所需目标或结果。每一次对过程的重复称为一次“迭代”，而每一次迭代得到的结果会作为下一次迭代的初始值。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				功能需求（functional requirement）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指一个软件系统或组件的功能，也是一个系统需提供的功能及服务。功能可以用一组输入、行为及输出的组合来表示。功能需求可以是计算、技术细节、数据处理或其他说明系统希望达成功能的内容。功能需求会以非功能性需求（或是质量需求）为其基础，后者会描述设计或实現时的限制条件（例如性能需求、保安性或可靠度等）。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				观察法（observational method）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指研究者根据一定的研究目的、研究提纲或观察表，用自己的感官和辅助工具去直接观察被研究对象，从而获得资料的一种方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				焦点组访谈（focus group interview）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					又称小组座谈法，就是采用小型座谈会的形式，由一个经过训练的主持人以一种无结构、自然的形式与一个小组的具有代表性的消费者或客户交谈，从而获得对有关问题的深入了解。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				交互设计（Interaction Design）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指人工制品、环境和系统的行为，以及传达这种行为的外形元素的设计与定义。不像传统的设计学科主要关注形式，则是关注内容和内涵，而交互设计首先旨在规划和描述事物的行为方式，然后描述传达这种行为的最有效形式。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				交互设计师（User interface）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是秉承以用户为中心的设计理念，以用户体验度为原则，对交互过程进行研究并开展设计的工作人员。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				可行性分析（Feasibility analysis）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指通过对项目的主要内容和配套条件，如市场需求、资源供应、建设规模、工艺路线、设备选型、环境影响、资金筹措、盈利能力等，从技术、经济、工程等方面进行调查研究和分析比较，并对项目建成以后可能取得的财务、经济效益及社会环境影响进行预测，从而提出该项目是否值得投资和如何进行建设的咨询意见，为项目决策提供依据的一种综合性的系统分析方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				目标用户（Target Customers）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					即企业或商家提供产品、服务的对象。目标客户是市场营销工作的前端，只有确立了消费群体中的某类目标客户，才能展开有效具有针对性的营销事务。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				模式匹配（pattern match）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指将两个模式作为输入，计算模式元素之间语义上的对应关系的过程。在串中寻找子串（第一个字符）在串中的位置。在模式匹配中，子串称为模式，串称为目标。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				内部网(Intranet)
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指采用Internet技术建立的企业内部专用网络。它以TCP/IP协议作为基础，以Web为核心应用，构成统一和便利的信息交换平台。内部网可提供Web出版、交互、目录、电子邮件、广域互连、文件管理、打印和网络管理等多种服务。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				内容映射表格
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指信息架构的自上而下和自下而上两种流程结合之处。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				实证研究方法（Empirical Research）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指通过对研究对象大量的观察、实验和调查，获取客观材料，从个别到一般，归纳出事物的本质属性和发展规律的一种研究方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				实证研究（empirical Research）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指认识客观现象，向人们提供实在、有用、确定、精确的知识研究方法，其重点是研究现象本身“是什么”的问题。实证研究法试图超越或排斥价值判断，只揭示客观现象的内在构成因素及因素的普遍联系，归纳概括现象的本质及其运行规律。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				深度访谈法（depth interviews）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					又名深层访谈法。深层访谈法是一种无结构的、直接的、个人的访问，在访问过程中，一个掌握高级技巧的调查员深入地访谈一个被调查者，以揭示对某一问题的潜在动机、信念、态度和感情。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				市场分析（market analysis）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是对市场规模、位置、性质、特点、市场容量及吸引范围等调查资料所进行的经济分析。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				实地观察（Field observation）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是观察者有目的、有计划地运用自己的感觉器官或借助科学观察工具，能动地了解处于自然状态下的社会现象的方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				索引术语（index term）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指供应搜索或浏览的关键词和标题词，关键词和标题词代表的是内容。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				视觉设计（Visual design）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指针对眼睛官能的主观形式的表现手段和结果。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				网站（website)
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指在因特网上，根据一定的规则，使用HTML等工具制作的用于展示特定内容的相关网页的集合。简单地说，网站是一种通讯工具，就像布告栏一样，人们可以通过网站来发布自己想要公开的资讯，或者利用网站来提供相关的网络服务。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				文献分析法（Documental Analysis）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					指搜集、鉴别、整理文献，并通过对文献的研究，形成对事实科学认识的方法。文献分析法是一项经济且有效的信息收集方法，它通过对与工作相关的现有文献进行系统性的分析来获取工作信息。一般用于收集工作的原始信息，编制任务清单初稿。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				问卷调查（questionnaire）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					也称"书面调查法"，或称"填表法"。用书面形式间接搜集研究材料的一种调查手段。通过向调查者发出简明扼要的征询单（表），请示填写对有关问题的意见和建议来间接获得材料和信息的一种方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				信息架构(information architecture)
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					主要任务是为信息与用户认知之间搭建一座畅通的桥梁，是信息直观表达的载体。通俗点，信息架构就是研究信息的表达和传递。信息架构不仅仅是设计信息的组织结构。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				信息架构师（Information Architecture）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					信息架构是基于信息架构方法论，并运用计算机技术管理和组织信息的一个专门学科。从事该行的人员一般叫做信息架构师。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				信息树
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指把信息高速公路仅仅说成是一个网络，一个完美的计算机通信网络，那是个粗略通俗的说法。信息高速公路是一个包含5个基本要素的巨大系统，这就是
						信息源、计算机服务站、通信网络、应用软件、消费类电子设备。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				隐喻
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					软件隐喻的本质是一种认知隐喻。我们可以通过在日常生活中无意识获得的基本隐喻系统，在软件开发过程中，受到关联性的启发和影响，使得主观经验和感觉经验相互匹配，然后通过概念融合而形成具有启示意义和指导意义的软件隐喻。这正是软件隐喻的工作机制。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				元数据（Metadata）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指描述数据的数据，对数据及信息资源的描述性信息。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				用例(Use Case)
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指一个UML中非常重要的概念，在使用UML的整个软件开发过程中，Use Case处于一个中心地位。用例是对一组动作序列的抽象描述，系统执行这些动作序列，产生相应的结果。这些结果要么反馈给参与者，要么作为其他用例的参数。用例被认为是第二代面向对象技术的标志。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				用例图（User Case）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指由参与者（Actor）、用例（Use Case）以及它们之间的关系构成的用于描述系统功能的静态视图称为用例图。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				原型设计（prototype design）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					就是产品设计成形之前的一个简单框架，对网站来讲，就是将页面模块、元素进行粗放式的排版和布局，深入一些，还会加入一些交互性的元素，使其更加具体、形象和生动。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				用户体验设计师（User experience）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					是指以用户体验为中心的设计者。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				业务分析师（Business Analyst）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					在IT公司里，BA的角色就是产品经理，承接某个很具体的业务或者领域。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				组织系统（tissue system）
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					指有关的若干组织的集团。
				</p>
			</div>
		</div>
	</div>
</div>
		<script>
			var node = bw.getNodes()[0];
			var az = "abcdefghijklmnopqrstuvwxyz";
		</script>
		<script id="js_tpl_1" type="text/html">
			<ul class="letterList clearfix">
				<% for (var i=0;i<az.length;i++) { %>
					<li <% if(i==0){%>class="letterCur"<% } %>><%= az.substr(i,1).toUpperCase() %></li>
				<% } %>
			</ul>
			
			<% for (var i=0;i<az.length;i++) { %>
				<div class="wordTab tab_<%= az.substr(i,1) %>">
					<b><%= az.substr(i,1).toUpperCase() %></b>
				</div>
			<% } %>
			
			<% for (var i = 0; i< node.length; i++) {%>
				<div class="wordList">
					<h2><%= node[i].text %></h2>
					<p><%= node[i][0].text %></p>
				</div>
			<% } %>

		</script><script>document.write(template.render('js_tpl_1'));</script>
		<script>
			$(".wordList").each(function(){
				var x = pinyin($(this).find("h2").text().substr(0,1)).substr(0,1);
				$(this).appendTo($(".tab_" + x));
			});
		</script>
	</div>
		
</div>

	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>