<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -课程特色</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2202";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="ke_cheng_jie_shao.html">课程介绍</a></li>
		
			<li><a href="jiao_xue_da_gang.html">教学大纲</a></li>
		
			<li><a href="ke_cheng_te_se.html">课程特色</a></li>
		
			<!--<li><a href="jiao_shi_jie_shao.html">教师介绍</a></li>-->
		
	</ul>
	<div class="ke-content ke_cheng_te_se">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			课程特色
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				具有特色的教学资源
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<img src="upload_files/2202/baseimg_136.png" /> 
				</p>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					　本课程是一门集纳互联网传播业务的综合性实验课程，与国内外同类课程相比，本课程及其相关教学资源内容简明、精炼、严谨，深入浅出，通俗易懂。既概括回顾了网络传播的基础理论，又紧密结合互联网实践技能应用培养，适应网络教育面向应用性人才培养的要求。形成具有集教学大纲、电子教案、网络课件、自测练习、虚拟仿真实验及其他教学素材于一体的网络教学资源，具备网上网下、电子纸质相互结合的立体交叉教学资源体系。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				强有力的课程团队与先进的教学方法和手段
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<img src="upload_files/2202/baseimg_480.png" /> 
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					由于本课程属于实践教学类课程，在教学设计中结合了课堂讲授和实验互动的两个环节，授课团队除了主讲教师，还包括实验教学辅导人员，教学团队结构合理。强有力的课程团队与先进的教学方法及手段的结合，保证了课程建设各个阶段的质量。
				</p>
				<p>
					借助网络教学平台，课程采取讲授一次，实验一次，交流一次的思路，将网络综合设计分解为几个主要的实践工作阶段，分步实施，保证学生充分了解网络传播设计的主要工作内容和工作流程，并在不断实践交流中掌握各个阶段的工作原则和方法。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				建成了支持PC版、苹果版、安卓版、纸质版等跨终端的立体学习资源体系
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					<img src="upload_files/2202/baseimg_923.png" /><br />
<span></span> 
				</p>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					学生在任何时间、任何地点都能够享受我们所提供的优质学习资源服务。并且这些资源不仅可以校内共享、校际共享，还可以实现跨领域共享，供全社会共享，服务学习型社会建设。
				</p>
			</div>
		</div>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				学校投入专门经费与制定相应的支持政策
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<img src="upload_files/2202/baseimg_478.png" /> 
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					卓智一直十分重视网络教育资源的建设工作，从政策和经费两方面给予支持和保障。网络教育资源的建设一直采取教改立项的方式，历年来共投入经费数千万元，用于网络课程资源包的建设，其中正式出版课件达二百多门。为实现资源共享，我校在资源建设过程中坚持学习并应用CELTS标准，目前有10余所高校引入了我校的网络教育资源。为保证网上学习资源的传送质量，我校在校本部和40多个校外学习中心建立了分布式资源点播系统，该系统在保证点播效果的同时，对学生的学习情况进行跟踪记载，方便了对学生的监督及管理。　
				</p>
			</div>
		</div>
	</div>
</div>
		<script>
			var node = bw.getNodes()[0];
		</script>
		<script id="js_tpl_1" type="text/html">	
			<div class="f_box">
				<% for (var i = 0; i< node.length; i++) {%>				
					<div class="f_layer">
						<div class="f-i <% if( i % 2 == 0) { %>f-r<% } %>" >
							<div class="inner">
								<img src="<%= node[i][0].img %>">
							</div>
						</div>			
						<div class="f-t">
							<div class="inner">
								<h2><%= node[i].text %></h2>
								<p><%= node[i][1] %></p>
							</div>				
						</div>
					</div>
				<% } %>
			</div>
		</script><script>document.write(template.render('js_tpl_1'));</script>
	</div>
	
</div>
	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>







