<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -评价方案</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2913";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="jiao_shi_dao_yan.html">教师导言</a></li>
		
			<li><a href="jiao_xue_ri_li.html">教学日历</a></li>
		
			<li><a href="ping_jia_fang_an.html">评价方案</a></li>
		
			<li><a href="kao_shi_da_gang.html">考试大纲</a></li>
		
	</ul>
	<div class="e_toppic"><img src="images/eva_top.png"></div>
	<div class="ke-contentping_jia_fang_an">
		<div class="bw_exam" data-config="time:120">
	<div class="bw_question_block" data-config="{type:0,score:20}">
		<div class="bw_block_title">
			{1}选择题
		</div>
		<div class="bw_question" data-config="{ans:2}">
			<div class="bw_ques">
				您多长时间上网进行一次本课程的学习
			</div>
			<div class="bw_ans">
				1-2天
			</div>
			<div class="bw_ans">
				3-5天
			</div>
			<div class="bw_ans">
				一周左右
			</div>
			<div class="bw_ans">
				两周左右
			</div>
			<div class="bw_ans">
				一个月左右
			</div>
			<div class="bw_ans">
				基本不上网
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您估计学习本课程总共花了多少时间
			</div>
			<div class="bw_ans">
				0-4小时/每周
			</div>
			<div class="bw_ans">
				4-8个小时/每周
			</div>
			<div class="bw_ans">
				8-12个小时/每周
			</div>
			<div class="bw_ans">
				12-16小时以上/每周
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				<div class="questionCon">
					您对本课程的内容是否感兴趣
				</div>
			</div>
			<div class="bw_ans">
				感兴趣
			</div>
			<div class="bw_ans">
				一般
			</div>
			<div class="bw_ans">
				不感兴趣
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您认为本课程的知识对您的专业知识提升是否有帮助
			</div>
			<div class="bw_ans">
				有帮助
			</div>
			<div class="bw_ans">
				一般
			</div>
			<div class="bw_ans">
				没帮助
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您认为本课程的学习难度
			</div>
			<div class="bw_ans">
				非常难
			</div>
			<div class="bw_ans">
				比较难
			</div>
			<div class="bw_ans">
				一般
			</div>
			<div class="bw_ans">
				比较容易
			</div>
			<div class="bw_ans">
				非常容易
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				对您学习本课程学习帮助最大的资源是
			</div>
			<div class="bw_ans">
				视频课件
			</div>
			<div class="bw_ans">
				书面教材
			</div>
			<div class="bw_ans">
				网上作业
			</div>
			<div class="bw_ans">
				模拟试卷
			</div>
			<div class="bw_ans">
				网上答疑
			</div>
			<div class="bw_ans">
				参考资源
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您认为教材的内容是否与视频课件的内容一致
			</div>
			<div class="bw_ans">
				很一致
			</div>
			<div class="bw_ans">
				一般
			</div>
			<div class="bw_ans">
				不一致
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				在课程学习中遇到的问题首先通过哪种方式解决
			</div>
			<div class="bw_ans">
				学习中心老师
			</div>
			<div class="bw_ans">
				学院教师（包括助教）
			</div>
			<div class="bw_ans">
				自己查找
			</div>
			<div class="bw_ans">
				同学之间交流
			</div>
			<div class="bw_ans">
				其他
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您是否与课程教师（包括助教）有过直接或间接的交流
			</div>
			<div class="bw_ans">
				有
			</div>
			<div class="bw_ans">
				没有
			</div>
		</div>
		<div class="bw_question" data-config="{}">
			<div class="bw_ques">
				您对课程教师（包括助教）各方面的工作是否满意
			</div>
			<div class="bw_ans">
				满意
			</div>
			<div class="bw_ans">
				一般
			</div>
			<div class="bw_ans">
				不满意
			</div>
			<div class="bw_ans">
				不知道
			</div>
		</div>
	</div>
</div>
		<script>var exam = bw.getExamData();</script>
		<div class="t_topbox">
			<div class="t_ta">
				<p>亲：为了解您对本课程学习内容及远程辅导情况的需求，进一步提高远程与继续教育质量，请填写如下调查问卷，该调查问卷不记成绩，烦请做出客观地回答，因为您所提供的信息对我们改进教学，让每一位同学都能得到满意的教学服务至关重要。在此，对给予我们工作大力支持的您表示真诚的感谢！并祝您学业进步，工作顺利，前程似锦！</p>
			</div>
			<div class="t_tb">
				<span class="lf_shadow"></span>
				<span class="rt_shadow"></span>
			</div>
		</div>
		<div class="investigate">
			<div class="question_left">
				<div class="inner">
					<script id="js_tpl_1" type="text/html">
						<% for (var n =0; n < exam.blocks[0].questions.length; n++){ %>
							<div class="questionbox">
								<div class="question f-cb">
									<div class="questionPos"><%= exam.index() %></div>
									<div class="questionCon"><%= exam.blocks[0].questions[n].ques %></div>
								</div>
								<div class="question_choice">
									<ul>
										<% for(var m = 0; m < exam.blocks[0].questions[n].ans.length; m ++){ %>
											<label for="test_<%= 0 %>_<%= n %>_<%= m %>">
												<li class="f-cb">
													<div class="optionPos"><%= "ABCDEFG".substr(m, 1) %>.</div>
													<div class="optionCon"><%= exam.blocks[0].questions[n].ans[m] %></div>
												</li>
											</label>
											<% } %>
									</ul>
								</div>
								<div class="select_choice f-cb">
									<ul>
										<% for(var m = 0; m < exam.blocks[0].questions[n].ans.length; m++){ %>
											<li>
												<input type="radio" name="test_<%= 0 %>_<%= n %>" id="test_<%= 0 %>_<%= n %>_<%= m %>">
												<label for="test_<%= 0 %>_<%= n %>_<%= m %>"><%= "ABCDEFG".substr(m, 1) %></label>
											</li>
										<% } %>
									</ul>
								</div>
							</div>
						<% } %>
					</script><script>document.write(template.render('js_tpl_1'));</script>
				</div>
			</div>
			<script>exam.idx = 1;</script>
			<script id="js_tpl_2" type="text/html">
				<div class="question_right">
					<div class="inner">
						<div class="qusetion_num">
							<ul>
								<% for (var n =0; n < exam.blocks[0].questions.length; n++){ %>
									<li class="cur"><a href="###"><%= exam.index() %></a></li>
								<% } %>
							</ul>
						</div>
						<p class="invest_lastp">请输入您的意见或建议！</p>
						<textarea></textarea>
						<p class="question_button"> 
							<input type="button" value="提交" class="button white submit"/>
							<input type="button" value="重填" class="button white reset"/>
						</p>
					</div>
				</div>
			</script><script>document.write(template.render('js_tpl_2'));</script>
		</div>
	</div>	
</div>

	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>