<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- header includes -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>网络综合设计实验 -深入学习</title>
	<!-- <base href=""/> -->
	<link href="common_files/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="common_files/css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<link href="css/course.css" rel="stylesheet" type="text/css" />

	<script>var video_root = "video/", columnid="2213";</script>
	<script src="common_files/js/jquery-1.9.1.min.js"></script>
	<script src="common_files/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="common_files/js/json.js"></script>
	<script src="common_files/js/common.js"></script>
	<script src="js/course.js"></script>
	<script src="common_files/js/bw_data.js"></script>
	<script src="common_files/js/template.js"></script>
	<script src="common_files/js/pinyin.js"></script>
	
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script src="common_files/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

</head>
<body class="introduction-bg ">
	

<!-- 通用头部 -->
<div class="header header_in">
	<div class="header_scope">
		<div class="logo"></div>	
		<div class="more"></div>
		<div class="nav_container">
			

<!-- 通用头部 -->




<ul class="nav">
	<li id="nav_0"><a href="/">返回主页</a></li>
	<li id="nav0"><a href="index.html">课程首页</a></li>
	



		<li id="nav0">
			<a href="ke_cheng_jie_shao.html">课程信息</a>
		</li>
	
		<li id="nav1">
			<a href="jiao_shi_dao_yan.html">课程导学</a>
		</li>
	
		<li id="nav2">
			<a href="chapter_1_1.html">课程学习</a>
		</li>
	
		<li id="nav3">
			<a href="test_a.html">课程自测</a>
		</li>
	
		<!--<li id="nav4">
			<a href="zhuan_jia_jiang_zuo.html">拓展资源</a>
		</li>-->
	
</ul>


		</div>	
	</div>	
</div>







	<div class="content">
		<div class="scope">

	<ul class="secBarTab">
		

			<li><a href="zhuan_jia_jiang_zuo.html">专家讲座</a></li>
		
			<li><a href="an_li_ku.html">案例库</a></li>
		
			<li><a href="shen_ru_xue_xi.html">深入学习</a></li>
		
			<li><a href="ke_cheng_ci_dian.html">课程词典</a></li>
		
			<li><a href="can_kao_zi_liao.html">参考资料</a></li>
		
	</ul>
	<div class="ke-contentshen_ru_xue_xi">
		<div class="bw_node_wrap">
	<div class="bw_node">
		<p>
			深入学习
		</p>
	</div>
	<div class="bw_node_wrap">
		<div class="bw_node">
			<p>
				学习网站
			</p>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					中国互联网协会
				</p>
			</div>
			<div class="bw_node_wrap">
				<div class="bw_node">
					<p>
						http://www.isc.org.cn/
					</p>
				</div>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					科技中国
				</p>
			</div>
			<div class="bw_node_wrap">
				<div class="bw_node">
					<p>
						http://www.techcn.com.cn/
					</p>
				</div>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					传播学论坛
				</p>
			</div>
			<div class="bw_node_wrap">
				<div class="bw_node">
					<p>
						http://ruanzixiao.myrice.com/
					</p>
				</div>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					南京大学网络传播研究中心
				</p>
			</div>
			<div class="bw_node_wrap">
				<div class="bw_node">
					<p>
						http://www.cmcrc.com.cn/gb/index.htm
					</p>
				</div>
			</div>
		</div>
		<div class="bw_node_wrap">
			<div class="bw_node">
				<p>
					中华传媒网
				</p>
			</div>
			<div class="bw_node_wrap">
				<div class="bw_node">
					<p>
						http://www.mediachina.net
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
		<script>
			var node = bw.getNodes()[0];
		</script>
		<script id="js_tpl_1" type="text/html">
			<div class="t_topbox">
			    <div class="t_ta">
			      <h1>学习网站</h1>
			    </div>
			    <div class="t_tb">
			      <span class="lf_shadow"></span>
			      <span class="rt_shadow"></span>
			    </div>
			  </div>
			  <div class="d_box">
			    <div class="d_leftbox">
			      <div class="inner">
			        <ul>
			        	<% for (var i = 0; i< node.length; i++) {%>
				          <li class="cur"><%= node[i].text %></li>
				        <% } %>
			        </ul>
			      </div>
			      <div class="d_centerbox">

			      </div>  
			    </div>
			    <div class="d_rightbox">
			      <div class="inner">
			      	<% for (var i = 0; i< node.length; i++) {%>
			        <div class="tab">
			          	<ul>
			          		<% for (var j = 0; j< node[i].length; j++) {%>
				            <li>
				              <a href="<%= node[i][j][0].text %>" target="_blank"><%= node[i][j].text %></a>
				              <img src="images/canvas.png">
				          	</li>
				          	<% } %>
			      		</ul>
			  		</div>
			  		<% } %>
				</div>
			</div>
		</div>
		</script><script>document.write(template.render('js_tpl_1'));</script>	
	</div>
		
</div>

	</div>
	

<!-- 页脚内容 -->
<div class="footer">
	<p>&copy 2014-2017 <a href="http://www.zznet.info/" target="_blank"> 卓智网络科技有限公司</a> 版权所有</p>
</div>
	<div class="tool">
	<ul class="toolpack">
		<li><a href="###">信息反馈</a></li>
		<li><a href="dictionary.html">课程词典</a></li>
		<li><a href="###">课程笔记</a></li>
		<li><a href="###">课程书签</a></li>
	</ul>
</div>
	<a href="#" class="top">TOP</a>
</body>
</html>